* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}
header {
  background-color: #333333;
  position: fixed;
  width: 100%;
  height: 50px;
  padding-top: 10px;
}
h1 {
  font-size: medium;
  display: inline-block;
  width: 50%;
  padding-bottom: 10px;
  margin-right: 30%;
}
header > a {
  color: white;
  text-decoration: dashed;
  padding: 5px;
  /* padding-bottom: 100px; */
  font-size: small;
}
.head {
  display: inline-block;
  text-align: right;
  padding: 10px;
  text-align: left;
}
.head1 {
  display: inline-block;
  /* padding-left: 675px; */
  background-color: #444444;
}
.head2:hover {
  background-color: #444444;
}
.head3:hover {
  background-color: #444444;
}

main {
  background-position: center;
}
.photo {
  background-image: url(images/bar_opacity.png);
  background-size: cover;
  background-attachment: fixed;

  color: #03503c;
  text-align: center;
  padding: 100px;
  height: 650px;
}
h2 {
  font-size: 4em;
  padding: 50px;
}
hr {
  height: 10px;
  background-color: #03503c;
  width: 100px;
  margin-left: 775px;
  border-color: #03503c;
}
.photo2 > p {
  font-size: 1.25em;
  /* border-top: 20px solid green; */
}
.div2 {
  height: 50px;
  border: 20px none;
}
.button {
  border-radius: 15px;
  padding: 5px;
  margin: 20px;
  background-color: rgb(16, 54, 16);
  color: white;
  font-weight: 700;
}
.button:hover {
  background-color: black;
}
section > h3 {
  font-size: medium;
  text-align: center;
}
.oe {
  width: 100%;
  margin: 5px;
}
.concert {
  width: 49%;
  display: inline-block;
  padding-top: 100px;
  padding-left: 375px;
}

.clock {
  display: inline-block;
  height: 100px;
  width: 50%;
  /* margin-left: 50%;
  /* /* width: 60px; */
  /* margin-top: 50px; */
}
.concert > section {
  margin-right: 50%;
}
.clock > section {
  margin-right: 50%;
}
svg {
  width: 50px;
  margin-left: 42.75%;
}
/* .music {
  display: inline-block;
  width: 50px;
  margin-top: 50px;
  margin-left: 425px;
} */
.div3 {
  /* visibility: hidden; */
  padding: auto;
  margin-top: 250px;
}
.div3 img {
  display: inline-block;
  vertical-align: topS;
  width: 100%;
  height: auto;
  image-rendering: crisp-edges;
  margin-top: 50px;
}
.alien {
  display: inline-block;
  margin-top: 50px;
  text-align: center;
  margin-left: 25%;
}
p {
  text-align: center;
  font-size: x-small;
  margin: 20px;
  padding: 10px;
}
.button2 {
  background-color: black;
  color: white;
  border-radius: 20px;
  padding: 5px;
  margin: 20px;
  font-weight: 700;
}
.button2:hover {
  background-color: white;
  border: 5px solid black;
  color: black;
}
footer {
  display: inline-block;
  background-color: black;
  color: white;
  width: 100%;
  height: 50px;
  padding-left: 5px;
  margin-top: 100px;
}
footer > p {
  display: inline-block;
  margin-top: 10px;
  padding-left: 400px;
  text-align: center;
}
.backtotop {
  padding: 50px;
  border: 1px solid black;
  border-radius: 50%;
}
/* smartphone */
@media (max-width: 500px) {
  html,
  body {
    max-width: 300px;
    width: 100%;
  }
  header {
    text-align: center;
    height: 175px;
    padding: 10px;
  }
  header > a {
    margin: 5px;
    padding: 5px;
  }
  .head {
    margin: 0px;
    padding: 0px;
    width: 100px;
  }
  .head1,
  .head2,
  .head3 {
    margin: 5px;
    margin-left: 150px;
    margin-right: 200px;
    padding: 5px;
    width: 75px;
  }
  h1 {
    margin-left: 85px;
  }
  footer {
    padding: 20px;
    padding-top: 2.5px;
  }
  .p2 {
    margin: 5px;

    padding-top: 5px;
    font-size: 0.5em;
  }
  hr {
    margin-left: 100px;
    padding-left: 100px;
  }
  .photo {
    background: url(images/bar_opacity.png) center center/cover;
    height: 20%;
    padding: 0;
    padding-top: 175px;
    padding-left: 50px;
    text-align: center;
  }
  h2 {
    display: inline-block;
    width: 300px;
    font-size: 1.5em;
    padding: 10px;
    margin-right: 100px;
  }
  p {
    margin: 5px;
    padding: 5px;
    display: inline-block;
    width: 300px;
    margin-right: 100px;
  }
  .photo > p {
    font-size: 0.8em;
  }
  .button {
    margin-right: 100px;
  }
  .div3 {
    display: none;
  }
  .div2 {
    display: inline-block;
    margin: 30px;
    text-align: center;
    margin-right: 200px;
  }
  .div4 {
    display: inline-block;
    width: 300px;
    margin-top: 50px;
    text-align: center;
  }
  .concert {
    width: 300px;
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  .clock {
    width: 300px;
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  h3 {
    font: optional;
    display: inline-block;
    padding: 5px;
    width: 400px;
    margin-left: 49%;
    padding-right: 200px;
  }
  svg {
    padding: 5px;
    width: 60px;
    margin-left: 49%;
  }
  .clock2 {
    margin-left: 137.5px;
  }
  .concert2 {
    margin-left: 125px;
  }
  .div2 > p {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    width: 400px;
  }
  .alien {
    padding: 0;
    margin: 0;
  }
  .alien > h3 {
    margin-left: 0;
    margin-right: 50%;
    padding-right: 0;
  }
  .alien > p {
    margin-right: 400px;

    margin-left: 50px;
    display: inline-block;
    width: 300px;
  }

  .button2 {
    margin: 5px;
    padding: 5px;
    margin-right: 400px;
  }

  .backtotop {
    display: none;
  }
}
